.darklandingarea {
  background-color: black;
  color: #fff;
  background-image: url('./../../assets/bg.png');
}

.allstats {
  background-color: #ce4177;
  background-image: linear-gradient(to right, #ce4177, #161515);
  color: #fff;
}
