.lightlandingarea {
  background-color: black;
  color: #fff;
  background-image: url('./../../assets/bggif.gif');
}

.lightallstats {
  background-color: #ce4177;
  background-image: linear-gradient(to right, #161515, #ce4177);
  color: #fff;
}
