@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .icon {
    display: flex;
    align-items: start;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 800;
    gap: 5px;
    flex-direction: column;
    justify-content: end;
    text-align: left;
  }

  .tagtitle {
    font-size: 1.2rem;
  }

  .copyright {
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
  }
}

/* DESKTOP DEVICES */
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .icon {
    display: flex;
    align-items: start;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 800;
    gap: 5px;
    font-size: 1.7rem;
    flex-direction: column;
    justify-content: start;
    text-align: left;
  }

  .copyright {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
  }
}
